<div class="roulette-field flex fd-row jc-sa wrap"> 
    <img class="roulette-field__roulette" src="./assets/roulette.png">
    <div class="roulette-field__stats stats flex fd-column">
        <p class="stats__title uppercase">Result</p>
        <div class="stats__result flex fd-column jc-center">3</div>
        <p class="stats__subtitle stats__subtitle--won">You won</p>
        <p class="stats__sum">100000$</p>
    </div> 
    <button class="roulette-field__button uppercase">Spin</button>
</div>
