@import "colors";
.bet-counter-item{
    width: 423px;
    height: 58px;

    border: 1px solid white;
    border-bottom: none;

    font-size: 1em;
    color: white;
    font-family: sans-serif;
    &__number{
        width: 50px;
        height: 50px;

        margin: 3px;

        text-align: center;
        text-transform: uppercase;
        &--red{
            background-color: $red;
        }
        &--green{
            background-color: $green;
        }
        &--black{
            background-color: black;
        }
    }
    &__stats{
        text-transform: uppercase;
        margin: auto 30px auto 20px;
    }
}