<div class="bet-counter-item flex fd-row jc-sb">
    <div class="bet-counter-item__number bet-counter-item__number--{{log.wonColor}} flex fd-column jc-center">
        {{log.wonNumber}}
    </div>
    <div class="bet-counter-item__stats">
        <p>bet:</p>
        <p>summary:</p>
    </div>
    <div class="bet-counter-item__stats">
        <p>{{log.bet}}</p>
        <p>{{log.summary}}</p>
    </div>
    <div class="bet-counter-item__stats">
        <p>win:</p>
        <p>count:</p>
    </div>
    <div class="bet-counter-item__stats">
        <p>{{log.win}}</p>
        <p>{{log.betsCount}}</p>
    </div>
</div>
