*{
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
}
.fd-row{
    flex-direction: row;
}
.fd-column{
    flex-direction: column;
}
.fd-column-rev{
    flex-direction: column-reverse;
}
.jc-center{
    justify-content: center;
}
.jc-sb{
    justify-content: space-between;
}
.jc-sa{
    justify-content: space-around;
}
.wrap{
    flex-wrap: wrap;
}
.uppercase{
    text-transform: uppercase;
}
